<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>پیام رسان</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet">
</head>

<body dir="rtl">

<div th:insert="~{fragments/headerFragment.html :: #nav-bar-div}"></div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-dark col-auto col-md-4 col-lg-2 min-vh-100 d-flex flex-column justify-content-between"
             th:insert="~{adm/adminSidebarFragment.html :: #admin-side-bar}"></div>
        <div class="p-3">

            <form id="messaging-create-form">
                <label for="title">عنوان :</label><br/>
                <input type="text" name="subject" id="title" placeholder="عنوان پیام" required/><br><br/>

                <label for="receiver">دریافت کننده پیام (ایمیل و یا موبایل) :</label><br/>
                <input type="text" name="receiver" id="receiver" placeholder="دریافت کننده (ایمیل/شماره موبایل("
                       required/><br><br>

                <label for="text">متن پیام :</label><br/>
                <textarea id="text" name="text" placeholder="متن پیام" required ></textarea><br><br/>

                <label for="select-message-type">نوع پیام :</label>
                <select id="select-message-type" required></select><br><br>
                <input type="submit" value="ارسال" id="submit-button"><br/><br/>
            </form>

            <div id="operation-result-div"></div>

        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/adm/messaging/create.js}"></script>
</body>
</html>