<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xsi:schemaLocation="http://www.thymeleaf.org">

<
<body>
<div th::fragment="nav-bar" id="nav-bar-div">
    <ul id="nav-bar">
        <a th:href="@{/}"> <li>صفحه اصلی </li></a>
        <a  sec:authorize="isAuthenticated() == false" th:href="@{/pub/user/login}" ><li class="left">ورود به سایت</li></a>
        <li sec:authorize="isAuthenticated() == false" class="left" style="color: white;padding: 1.5% 0%;">|</li>
        <a  sec:authorize="isAuthenticated() == false" th:href="@{/pub/user/register}" ><li class="left">ثبت نام</li></a>
    </ul>
</div>
</body>

</html>
