<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"/>
    <title>405 خطای</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet">
</head>
<body dir="rtl">
    <div th:insert="~{fragments/headerFragment.html :: #nav-bar-div}"></div>
    <h1>405</h1>
</body>
</html>