<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"/>
    <title>پروفایل کاربر</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet">
</head>
<body dir="rtl">
<div th:insert="~{fragments/headerFragment.html :: #nav-bar-div}"></div>

<div id="user-info-div">
    <img src="#" id="user-profile-img">
    <h1 id="username"></h1>
</div>

<script type="text/javascript" th:src="@{/js/pub/user/profile.js}"></script>
</body>
</html>