/************************Main*************************/

body {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/***********************Navbar************************/
/*#nav-bar-div {*/
/*    background-color: #03281b;*/
/*    margin-bottom: 0;*/
/*}*/

/*#nav-bar {*/
/*    list-style: none;*/
/*}*/

/*#nav-bar a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*#nav-bar a :hover {*/
/*    color: #048872;*/
/*}*/

/*#nav-bar li {*/
/*    display: inline-block;*/
/*    padding: 1.5%;*/
/*}*/

/***********************User-Register************************/

#user-register-div {
    margin-right: 5%;
    margin-top: 5%;
}

#img-profile-picture {
    width: 20%;
}

#activation-code-div{
    margin-right: 5%;
    margin-top: 5%;
}

/************************User-Login**************************/

#user-login-div {
    margin-right: 5%;
    margin-top: 5%;
}

#register-done-message-div {
    color: green;
    margin-right: 5%;
    margin-top: 5%;
}

/************************User-Profile**************************/

#user-info-div {
    margin-right: 5%;
    margin-top: 5%;
}

#user-profile-img {
    width: 250px;
    border-radius: 2%;
}

/************************Admin-Panel-Index**************************/

.nav-pills li a:hover {
    background-color: cadetblue;
}

/************************Admin-Panel-Authorities**************************/
/*#authorities-table{*/
/*    width: 100%;*/
/*}*/

/*********************************Chat************************************/
#message-text-area {
    resize: none;
    width: 400px;
    height: 200px;
}

#chat-form-div{
    margin-right: 5%;
    margin-top: 5%;
}

/********************************Chats************************************/

#chat-search-div{
    margin-right: 5%;
    margin-top: 5%;
}